@mixin heading()
    display: inline-block
    font-weight: 900
    width: 100%
    padding: 5px

@mixin left()
    color: #e7ecef
    left: 0
    position: fixed
    display: block
    height: 100%
    margin: 0
    font-family: Inter

@mixin right()
    background-color: #e7ecef
    z-index: 1
    position: fixed
    color: #272932
    height: 100%
    font-family: Inter
    width: 100%

@mixin anim-opacity()
    @keyframes opacity
        0%
            opacity: 0
        50%
            opacity: 0
        100%
            opacity: 1

@mixin anim-position($position)
    @keyframes position
        0%
            left: 0vw
        100%
            left: $position
