@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap')
@import "mixins.sass"

body
    background-color: #272932
    overflow: hidden
    margin: auto

// pc
@media screen and (min-width: 600px)
    .left-side
        @include left()
        width: 20vw
        font-size: 8vw
        a#heading
            @include heading()
            width: 100%
            padding: 5px
        .container
            // position: absolute
            // top: 200px
        a#main
            white-space: nowrap
            display: block
            padding: 10px
            font-weight: 500
            font-size: 1.25vw

    .right-side
        @include right()
        left: 20vw
        animation: position 1.5s
        font-size: 8vw
        .container
            animation: opacity 2.5s
        a#heading
            @include heading()
            float: left
            padding: 5px

        @keyframes opacity
            0%
                opacity: 0
            50%
                opacity: 0
            100%
                opacity: 1
        @keyframes position
            0%
                left: 0vw
            100%
                left: 20vw

//mobile
@media screen and (max-width: 599px)
    .left-side
        @include left()
        width: 20vw
        font-size: 15vw
        a#heading
            @include heading()
            width: 100%
            padding: 5px
        .container
            // position: absolute
            // top: 200px
        a#main
            white-space: nowrap
            display: block
            padding: 10px
            font-weight: 500
            font-size: 2.125vw

    .right-side
        @include right()
        left: 35vw
        animation: position 1.5s
        font-size: 15vw
        .container
            animation: opacity 2.5s
        a#heading
            @include heading()
            float: left
            padding: 5px

        @keyframes opacity
            0%
                opacity: 0
            50%
                opacity: 0
            100%
                opacity: 1
        @keyframes position
            0%
                left: 0vw
            100%
                left: 35vw
