@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
body {
  background-color: #e7ecef;
  margin: auto;
  overflow: hidden;
}

.left-side {
  background-color: #272932;
  color: #e7ecef;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Inter;
}
.left-side a#heading {
  display: inline-block;
  font-weight: 900;
  width: 100%;
  padding: 5px;
}
@media (min-width: 1024px) {
  .left-side {
    font-size: 150px;
  }
  .left-side a#main {
    white-space: nowrap;
    display: block;
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
  }
}
@media (max-width: 1023px) {
  .left-side {
    font-size: 60px;
  }
  .left-side a#main {
    width: 30%;
    display: block;
    padding: 10px;
    font-weight: 500;
    font-size: 15px;
  }
}

.right-side {
  background-color: #e7ecef;
  z-index: 1;
  right: 0;
  position: fixed;
  color: #272932;
  height: 100%;
  font-family: Inter;
  animation: position 1.5s;
}
.right-side .container {
  animation: opacity 2.5s;
}
.right-side a#heading {
  display: inline-block;
  font-weight: 900;
  float: left;
  padding: 5px;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 1024px) {
  .right-side {
    width: 85%;
    font-size: 150px;
  }
  @keyframes position {
    0% {
      width: 100%;
    }
    100% {
      width: 85%;
    }
  }
}
@media (max-width: 1023px) {
  .right-side {
    width: 63%;
    font-size: 60px;
  }
  @keyframes position {
    0% {
      width: 100%;
    }
    100% {
      width: 63%;
    }
  }
}
